*.log
*.exe
*.out
bin/**
.env
.idea/
# Ignore build artifacts
manifests_logs/
/test-files

# test artifacts
test_output/
test_files/
/data
/worktree

# generated compose file
scripts/docker-compose.yml

# cluster data directories
scripts/cluster-data/